$clr-black: #000000
$clr-dark: #242424
$clr-white: #ffffff
$clr-grey: #e5e5e5

$clr-dashboard: #375F89
$clr-games: #bb4c4c
$clr-tvshows: #3876CB
$clr-films: #38A3CB
$clr-anime: #cb389a
$clr-books: #38CB65

$clr-info: #889157
$clr-success: #678f3f
$clr-warning: #a83d84
$clr-error: #b53e38