$clr-black: #000000
$clr-white: #ffffff
$clr-grey: #e5e5e5

$clr-dashboard: #004D40
$clr-games: #740F35
$clr-tvshows: #601863
$clr-films: #34305C
$clr-anime: #7F0546
$clr-books: #1C5A30

$clr-info: #889157
$clr-success: #678f3f
$clr-warning: #a83d84
$clr-error: #b53e38