$clr-black: #000000
$clr-dark: #242424
$clr-white: #ffffff
$clr-grey: #e5e5e5

$clr-dashboard: #26A69A
$clr-games: #bb4c4c
$clr-tvshows: #3976bb
$clr-films: #38A3CB
$clr-anime: #bd3a91
$clr-books: #3bc464

$clr-info: #889157
$clr-success: #678f3f
$clr-warning: #a83d84
$clr-error: #b53e38