@mixin svg-icon($width, $height, $icon) 
  display: inline-block !important
  width: $width + px !important
  height: $height + px !important
  max-width: $width + px !important
  min-width: $width + px !important
  max-height: $height + px !important
  min-height: $height + px !important
  overflow: hidden !important
  background-image: url('assets/sprite.svg#' + $icon) !important
  background-size: $width + px $height + px !important
  background-repeat: no-repeat

  
@mixin icon-size($width, $height) 
  display: inline-block !important
  width: $width + px !important
  height: $height + px !important
  max-width: $width + px !important
  min-width: $width + px !important
  max-height: $height + px !important
  min-height: $height + px !important
  overflow: hidden !important


@mixin animation($name, $duration, $delay, $count, $timing, $mode) 
  animation-name: $name 
  animation-duration: $duration 
  animation-timing-function: $timing 
  animation-fill-mode: forwards 
  animation-delay: $delay 
  animation-iteration-count: $count 
  animation-direction: $mode 


@mixin pseudoelem()
  content: ' '
  display: block
  position: absolute


@mixin gradient($color)
  background: $color
  background: -moz-linear-gradient(left, darken($color, 24%) 0%, saturate($color, 4%) 40%, lighten($color, 4%) 50%, darken($color, 6%) 100%)
  background: -webkit-linear-gradient(left, darken($color, 24%) 0%, saturate($color, 4%) 40%, lighten($color, 4%) 50%, darken($color, 6%) 100%)
  background: linear-gradient(to right, darken($color, 24%) 0%, saturate($color, 4%) 40%, lighten($color, 4%) 50%, darken($color, 6%) 100%)

  @media #{$sm-dw}
    background: $color
    background: -moz-linear-gradient(left, darken($color, 10%) 0%, $color 100%)
    background: -webkit-linear-gradient(left, darken($color, 10%) 0%, $color 100%)
    background: linear-gradient(to right, darken($color, 10%) 0%, $color 100%)


@mixin blur($radius)
	-webkit-filter: blur($radius+px)
	-ms-filter: blur($radius+px)
	filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
	filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius)

  
@function strip-unit($number) 
  @if type-of($number) == 'number' and not unitless($number)
    @return $number / ($number * 0 + 1);
  @return $number


@mixin blur()
  filter: blur(4px)
  pointer-events: none


@mixin truncate($val)
  max-width: $val + px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis