// Opacity
$transparent-opacity: 0
$tiny-opacity: 0.1
$light-opacity: 0.15
$small-opacity: 0.3
$medium-opacity: 0.4
$half-opacity: 0.5
$passive-opacity: 0.75
$barely-opacity: 0.9
$active-opacity: 1


// Hovers
$hover-intensity: 10%


// Border radiuses
$base-radius: 6px
$big-radius: 10px
$huge-radius: 14px
$round-radius: 100%


// Box shadows
$level-1: 0 1px 3px rgba(12, 12, 12,0.12), 0 1px 2px rgba(12, 12, 12,0.24)
$level-2: 0 3px 6px rgba(12, 12, 12,0.16), 0 3px 6px rgba(12, 12, 12,0.23)
$level-3: 0 10px 20px rgba(12, 12, 12,0.19), 0 6px 6px rgba(12, 12, 12,0.23)
$level-4: 0 14px 28px rgba(12, 12, 12,0.25), 0 10px 10px rgba(12, 12, 12,0.22)
$level-5: 0 19px 38px rgba(12, 12, 12,0.30), 0 15px 12px rgba(12, 12, 12,0.22)

// Transitions
$lazy-transition: all .75s ease
$slow-transition: all .45s ease
$base-transition: all .3s ease
$fast-transition: all .15s ease
$no-transition: none

$linear:       cubic-bezier(0, 0, 1, 1)
$ease:         cubic-bezier(0.25, 0.1, 0.25, 1)
$ease-in:      cubic-bezier(0.42, 0, 1, 1)
$ease-out:     cubic-bezier(0,0,0.58,1)
$ease-in-out:  cubic-bezier(0.42, 0, 0.58, 1)

/// Material Design easings list
/// @link https://material.io/design/motion/speed.html#easing
$standard:     cubic-bezier(0.4, 0, 0.2, 1)   // speed up quickly and slow down gradually, in order to emphasize the end of the transition
$emphasized:   cubic-bezier(0.0, 0, 0.2, 1)   // speed up quickly and slow down very gradually, placing extra emphasis on the end of the transition
$decelerated:  cubic-bezier(0.0, 0.0, 0.2, 1) // transitions begin at peak velocity (the fastest point in an element's movement) and end at rest
$accelerated:  cubic-bezier(0.4, 0.0, 1, 1)   // transition in which the element starts at rest and ends at peak velocity

/// Custom easings (here you can add new ones)
$sharp:        cubic-bezier(0.4, 0, 0.6, 1)  // the sharp curve is used for objects that may return to the screen at any time


// Base dimensions
$ui-height: 38px