// Opacity
$transparent-opacity: 0
$tiny-opacity: 0.05
$light-opacity: 0.15
$small-opacity: 0.3
$half-opacity: 0.5
$passive-opacity: 0.75
$barely-opacity: 0.95
$active-opacity: 1


// Hovers
$hover-intensity: 8%


// Border radiuses
$base-radius: 5px
$big-radius: 10px
$huge-radius: 14px
$round-radius: 100%


// Box shadows
$shadow-1: 0 1px 3px rgba($clr-black,0.12), 0 1px 2px rgba($clr-black,0.24)
$shadow-2: 0 3px 6px rgba($clr-black,0.16), 0 3px 6px rgba($clr-black,0.23)
$shadow-3: 0 10px 20px rgba($clr-black,0.19), 0 6px 6px rgba($clr-black,0.23)
$shadow-4: 0 14px 28px rgba($clr-black,0.25), 0 10px 10px rgba($clr-black,0.22)
$shadow-5: 0 19px 38px rgba($clr-black,0.30), 0 15px 12px rgba($clr-black,0.22)


// Transitions
$lazy-transition: all .75s ease
$slow-transition: all .45s ease
$base-transition: all .3s ease
$fast-transition: all .15s ease
$no-transition: none


// Base dimensions
$ui-height: 40px