.badge
  position: relative
  display: inline-flex
  align-items: center
  box-shadow: $shadow-1
  color: $clr-white
  font-weight: 700
  line-height: 1
  background: rgba($clr-white, $light-opacity)

  &--small
    border-radius: $big-radius
    font-size: 11px
    height: $big-radius * 2
    padding: 0 $gutter-width/3

  &--medium
    border-radius: $huge-radius
    top: 0.1em
    height: $huge-radius * 2
    padding: 0 $gutter-width/2.5
    font-size: 70%