.badge
  position: relative
  display: inline-flex
  align-items: center
  background: rgba($clr-grey, $light-opacity)
  color: $clr-white
  font-weight: 500
  line-height: 1

  &--small
    height: 19px
    padding: .1em $gutter-width/3 0
    border-radius: $base-radius
    font-size: 11px

  &--medium
    height: 24px
    padding: 0.1em $gutter-width/2.5 0
    border-radius: $big-radius
    font-size: 12px