@mixin themed-colors($category-color)
  .button
    &__text
      color: $category-color

    &__icon
      fill: $category-color


.button
  @extend .inline-flex
  @extend .justify-center
  @extend .align-center
  @extend .cursor-pointer
  @extend .base-radius
  @extend .bg-grey
  @extend .no-select
  @extend .txt-uppercase
  @extend .weight-bold
  @extend .slow-transition
  @extend .ui-height
  padding: 0 $gutter-width/2

  &--iconed
    @extend .justify-center

    width: 40px
    padding: 0

    .button
      &__icon
        top: 0
        margin-right: 0

  &--rounded
    @extend .round-radius

  &--games
    @include themed-colors($clr-games)

  &--tvshows
    @include themed-colors($clr-tvshows)

  &--films
    @include themed-colors($clr-films)

  &--anime
    @include themed-colors($clr-anime)

  &--books
    @include themed-colors($clr-books)

  &:hover
    box-shadow: $shadow-2

  @media #{$xs-dw}
    padding: 0 $gutter-width/2.5


  &__icon
    @extend .pos-relative
    @extend .slow-transition
    @include icon-size(24, 24)

    top: -1px
    margin-right: $gutter-width/8


  &__text
    @extend .no-wrap