.plates
  position: relative
  display: flex
  flex-wrap: wrap
  margin-bottom: $gutter-width
  overflow: hidden

  &--hidden
    margin-bottom: 0

    .grid__col
      @media #{$xs-dw}
        &:nth-child(n+4)
          .card
            mask-image: linear-gradient(to bottom, black 0%, transparent 25%)

      @media #{$xs-sm}
        &:nth-child(n+5)
          .card
            mask-image: linear-gradient(to bottom, black 0%, transparent 25%)

      @media #{$sm-md}
        &:nth-child(n+7)
          .card
            mask-image: linear-gradient(to bottom, black 0%, transparent 25%)
      
      @media #{$md-lg}
        &:nth-child(n+7)
          .card
            mask-image: linear-gradient(to bottom, black 0%, transparent 25%)

      @media #{$lg-up}
        &:nth-child(n+10)
          .card
            mask-image: linear-gradient(to bottom, black 0%, transparent 25%)

.card
  width: 100%
  margin-top: $gutter-width
  user-select: none

  &:hover
    .card
      &__time
        opacity: $active-opacity
        transform: translateY(0px)

      &__subtitle
        opacity: $passive-opacity
        transform: translateY(0px)

      &__rating
        opacity: $passive-opacity

      &__title
        color: $clr-white

      &__image
        opacity: $active-opacity
        box-shadow: $level-3

      &__overlay
        opacity: $active-opacity

  &__overlay
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: $base-radius
    background: rgba($clr-black, $half-opacity)
    z-index: 10
    transition: $base-transition
    opacity: $transparent-opacity

    &::before
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 100%
      border-radius: $base-radius
      background: linear-gradient(0deg, rgba($clr-black, $barely-opacity), transparent)
      z-index: -1

  &__time
    opacity: $transparent-opacity
    transform: translateY(15px)
    transition: all .35s $standard

  &__subtitle
    opacity: $transparent-opacity
    transform: translateY(10px)
    transition: all .35s $standard

  &__subtitle
    display: flex
    align-items: center
    margin-bottom: $gutter-width / 4
    opacity: $passive-opacity
    color: rgba($clr-white, $barely-opacity)

    @media #{$xs-dw}
      font-size: 14px

  &__rating
    position: absolute
    bottom: $gutter-width
    left: 0
    right: 0
    margin: 0 auto
    opacity: $transparent-opacity
    transition: all .35s $decelerated
    transform-origin: bottom center

    @media #{$xs-dw}
      bottom: $gutter-width / 2
      transform: scale(0.6)

  &__tilda
    @include icon-size(16,16)

  &__clock
    @include icon-size(16,16)
    margin-right: $gutter-width / 6
    fill: rgba($clr-white, $barely-opacity)

  &__hours
    @extend .fz2

    display: flex
    align-items: center
    line-height: 1
    font-weight: 700

  &__plate
    position: relative
    border-radius: $base-radius
    background: rgba($clr-black, $tiny-opacity)
    width: 100%
    padding-top: 146%
    transition: $base-transition

  &__image
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center center
    border-radius: $base-radius
    opacity: $passive-opacity
    overflow: hidden
    transition: $base-transition

  &__body
    margin-top: $gutter-width / 1.8

  &__title
    padding: 0 $gutter-width / 3
    text-align: center
    color: rgba($clr-white, $half-opacity)
    transition: $base-transition