.checkbox
  margin-bottom: $gutter-width/2

  &__body
    @extend .flex
    @extend .align-center
    @extend .cursor-pointer

    height: 40px

    &:hover
      .checkbox
        &__input
          background: $clr-grey

  &__input
    $border-width: 3px
    $checkbox-size: 18px

    @extend .pos-relative
    @extend .base-radius
    @extend .base-transition

    width: $checkbox-size + $border-width*2
    height: $checkbox-size + $border-width*2
    border: $border-width solid $clr-grey
    margin-right: $gutter-width/3

    &::before
      @extend .pseudoelem
      @extend .base-transition
      @include svg-icon(strip-unit($checkbox-size), strip-unit($checkbox-size), 'checkbox')

      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
      transform: scale(0.8)
      opacity: $transparent-opacity

    &--active
      @extend .bg-grey
      
      &::before
        transform: scale(1)
        opacity: $active-opacity

  &__label
    @extend .flex
    @extend .small
    @extend .transparent-opacity
    @extend .no-overflow

    text-indent: -9999px
    margin-bottom: $gutter-width/5

  &__text
    @extend .no-select

    line-height: 1