.expand
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: $gutter-width * 2

  &__chevron
    @include icon-size(18,18)

    position: relative
    margin-left: $gutter-width / 8
    top: -.14em

  .button
    width: 100%