$favourite-size: 40px


@mixin themed-colors($category-name)
  .favourite
    &__icon
      &--active
        @include svg-icon(strip-unit($favourite-size), strip-unit($favourite-size), 'favourite-active-' + $category-name)


.favourite
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-bottom: $gutter-width/2
  text-align: right

  &--games
    @include themed-colors('games')

  &--tvshows
    @include themed-colors('tvshows')

  &--films
    @include themed-colors('films')

  &--anime
    @include themed-colors('anime')

  &--books
    @include themed-colors('books')


  &__label
    display: flex
    margin-bottom: $gutter-width/5
    font-size: 12px

  
  &__icon
    cursor: pointer
    transition: $base-transition
    
    &--passive
      @include svg-icon(strip-unit($favourite-size), strip-unit($favourite-size), 'favourite-passive-neutral')

      &:hover
        @include svg-icon(strip-unit($favourite-size), strip-unit($favourite-size), 'favourite-hovered-neutral')

    &--active
      opacity: $passive-opacity