.input
  position: relative
  width: 100%
  max-width: 100%
  margin-bottom: $gutter-width/1.2

  &--dual
    .input
      &__field
        width: calc(50% - #{$gutter-width/2})
        flex: 1


  &__buttons
    display: flex
    justify-content: space-between

    .button
      width: calc(50% - #{$gutter-width/4})


  &__icon
    @include icon-size(24,24)

    position: absolute
    top: 0
    bottom: 0
    left: $gutter-width/3
    margin: auto
    opacity: $half-opacity
    transition: $base-transition


  &__pairs
    display: flex


  &__pair
    position: relative
    display: flex

    .input
      &__field
        &--left
          padding-right: 0
          border-top-right-radius: 0
          border-bottom-right-radius: 0

        &--right
          padding-left: 0
          border-top-left-radius: 0
          border-bottom-left-radius: 0


  &__prefix
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    width: max-content
    height: $ui-height
    background: lighten($clr-dark, $hover-intensity)
    color: $clr-grey
    user-select: none
    line-height: 1

    &--left
      padding: 0 $gutter-width / 9 0 $gutter-width / 2
      border-top-left-radius: $base-radius
      border-bottom-left-radius: $base-radius

    &--right
      padding: 0 $gutter-width / 2 0 $gutter-width / 9
      border-top-right-radius: $base-radius
      border-bottom-right-radius: $base-radius


  &__separator
    $icon-size: 50%
    $icon-thickness: 2px

    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex: 1
    min-width: $gutter-width
    max-width: $gutter-width
    height: $ui-height
    font-weight: 700
    user-select: none

    &--colon
      &::before,
      &::after
        width: 4px
        height: 4px

      &::before
        top: 35%

      &::after
        bottom: 35%

    &--dash
      &::before
        width: $icon-size
        height: $icon-thickness
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto

    &--cross
      &::before,
      &::after
        width: $icon-size / 1.2
        height: $icon-thickness
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto

      &::before
        transform: rotate(-45deg)

      &::after
        transform: rotate(45deg)

    &--slash
      &::before
        width: $icon-size
        height: $icon-thickness
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        transform: rotate(-45deg)

    &::before,
    &::after
      @include pseudoelem()

      border-radius: $icon-thickness
      background: darken($clr-grey, 10%)


  &__field
    width: 100%
    max-width: 100%
    height: $ui-height
    padding: 0 $gutter-width/2
    border: 0
    outline: 0
    border-radius: $base-radius
    background: lighten($clr-dark, $hover-intensity)
    color: $clr-grey
    transition: $base-transition

    &--invalid
      box-shadow: inset 0px 0px 0px 1px $clr-error

    &[type=number] 
      -moz-appearance: textfield

    &:required
      box-shadow: none !important

    &::-ms-clear
      display: none !important

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

    &::placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &::-webkit-input-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &::-moz-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &:-ms-input-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &:-moz-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important
    
    &:focus 
      &::placeholder 
        opacity: $transparent-opacity !important

      &::-webkit-input-placeholder 
        opacity: $transparent-opacity !important
      
      &::-moz-placeholder 
        opacity: $transparent-opacity !important
      
      &:-ms-input-placeholder 
        opacity: $transparent-opacity !important
      
      &:-moz-placeholder 
        opacity: $transparent-opacity !important


  &__label
    display: flex
    margin-bottom: $gutter-width/5
    font-size: 12px
    color: rgba($clr-grey, $half-opacity)
    white-space: nowrap
    user-select: none

    sup
      top: 0.4em
      left: 0.4em