.input
  position: relative
  margin-bottom: $gutter-width/2


  &__buttons
    display: flex
    justify-content: space-between

    .button
      width: calc(50% - #{$gutter-width/4})


  &__icon
    position: absolute
    transition: $base-transition
    opacity: $half-opacity
    @include icon-size(24,24)
    top: 0
    left: $gutter-width/3
    bottom: 0
    margin: auto


  &__field
    height: $ui-height
    border-radius: $base-radius
    background: $clr-grey
    transition: $base-transition
    width: 100%
    padding: 0 $gutter-width/2
    border: 0
    outline: 0

    &--invalid
      box-shadow: inset 0px 0px 0px 1px $clr-error

    &[type=number] 
      -moz-appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

    &::placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &::-webkit-input-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &::-moz-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &:-ms-input-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &:-moz-placeholder
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important
    
    &:focus 
      &::placeholder 
        opacity: $transparent-opacity !important

      &::-webkit-input-placeholder 
        opacity: $transparent-opacity !important
      
      &::-moz-placeholder 
        opacity: $transparent-opacity !important
      
      &:-ms-input-placeholder 
        opacity: $transparent-opacity !important
      
      &:-moz-placeholder 
        opacity: $transparent-opacity !important


  &__label
    display: flex
    font-size: 11px
    margin-bottom: $gutter-width/5

    sup
      top: 0.4em
      left: 0.4em