$close-button-size: 36px


@mixin themed-colors($category-color)
  .modal
    &__close
      background: $category-color

      &:hover
        background: lighten($category-color, $hover-intensity)

    &__footer
      border-top: 1px solid rgba($category-color, $tiny-opacity)

      .button
        &--main
          background: $category-color
          color: $clr-white
          
          &:hover
            background: lighten($category-color, $hover-intensity)

        &--secondary
          margin-right: $gutter-width/4
          background: $clr-white
          box-shadow: inset 0px 0px 0px 1px rgba($category-color, $passive-opacity)
          color: rgba($category-color, $passive-opacity)

          .button
            &__icon
              fill: $category-color
              opacity: $passive-opacity

          &:hover
            box-shadow: inset 0px 0px 0px 1px $category-color
            color: $category-color

            .button
              &__icon
                opacity: $active-opacity


.modal-backdrop
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 9999
  background: rgba($clr-black, $half-opacity)


.modal
  position: relative
  width: 50vw
  max-width: 500px
  min-width: 320px
  border-radius: $base-radius
  background: $clr-white
  box-shadow: $level-3
  color: $clr-black
  will-change: opacity

  &--games
    @include themed-colors($clr-games)

  &--tvshows
    @include themed-colors($clr-tvshows)

  &--films
    @include themed-colors($clr-films)

  &--anime
    @include themed-colors($clr-anime)

  &--books
    @include themed-colors($clr-books)

  &-fade-enter,
  &-fade-leave-active
    opacity: $transparent-opacity

  &-fade-enter-active,
  &-fade-leave-active
    transition: $base-transition

  @media #{$mb-dw}
    width: 100%
    max-width: 100%
    min-width: 100%
    height: 100%


  &__close
    position: absolute !important
    display: flex
    justify-content: center
    align-items: center
    top: -$close-button-size/2
    right: -$close-button-size/2
    z-index: 100
    width: $close-button-size
    height: $close-button-size
    border-radius: $round-radius
    box-shadow: $level-2
    cursor: pointer
    transition: $base-transition

    &:hover
      box-shadow: $level-3

    @media #{$mb-dw}
      top: $close-button-size/6
      right: $close-button-size/6


  &__cross
    @include icon-size(strip-unit($close-button-size)/1.5, strip-unit($close-button-size)/1.5)

    fill: $clr-white
    transition: $base-transition

  &__content
    @media #{$mb-dw}
      height: calc(100% - 70px)
      max-height: initial


  &__fields
    padding: $gutter-width / 1.5 $gutter-width  !important
    overflow: hidden !important


  &__footer
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px
    padding: 0 $gutter-width/1.5
    border-bottom-left-radius: $base-radius !important
    border-bottom-right-radius: $base-radius !important
    background: $clr-grey

    @media #{$mb-dw}
      position: absolute
      width: 100%
      bottom: 0
      left: 0


  &__confirmation
    position: relative
    display: flex


  &__tip
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 20px
    top: -20px
    text-align: center
    font-size: 12px