$close-button-size: 36px

@mixin themed-backdrop($category-color)
  &::before
    background: linear-gradient(to bottom, rgba($category-color, $tiny-opacity) 50%, transparent 100%)

@mixin themed-colors($category-color)
  .modal
    &__cross
      fill: $category-color 

    &__footer
      .button
        &--main
          background: $category-color
          color: $clr-white
          
          &:hover
            background: darken($category-color, $hover-intensity)

        &--secondary
          margin-right: $gutter-width/4
          background: $clr-dark
          box-shadow: inset 0px 0px 0px 1px darken($category-color, $hover-intensity)
          color: $category-color

          .button
            &__icon
              fill: $category-color
              opacity: $passive-opacity

          &:hover
            box-shadow: inset 0px 0px 0px 1px darken($category-color, $hover-intensity)
            color: darken($category-color, $hover-intensity)

            .button
              &__icon
                fill: darken($category-color, $hover-intensity)


.modal-backdrop
  @include glass()
  
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 99999
  background: rgba($clr-black, $barely-opacity)

  &::before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0

  &--games
    @include themed-backdrop($clr-games)

  &--tvshows
    @include themed-backdrop($clr-tvshows)

  &--films
    @include themed-backdrop($clr-films)

  &--anime
    @include themed-backdrop($clr-anime)

  &--books
    @include themed-backdrop($clr-books)


.modal
  position: relative
  width: 50vw
  max-width: 800px
  min-width: 320px
  border-radius: $big-radius
  background: $clr-dark
  box-shadow: $level-3
  color: $clr-black
  will-change: opacity

  &--games
    @include themed-colors($clr-games)

  &--tvshows
    @include themed-colors($clr-tvshows)

  &--films
    @include themed-colors($clr-films)

  &--anime
    @include themed-colors($clr-anime)

  &--books
    @include themed-colors($clr-books)

  &-fade-enter,
  &-fade-leave-active
    opacity: $transparent-opacity

  &-fade-enter-active,
  &-fade-leave-active
    transition: $base-transition

  @media #{$mb-dw}
    width: 100%
    max-width: 100%
    min-width: 100%
    height: 100%


  &__close
    position: absolute !important
    display: flex
    justify-content: center
    align-items: center
    top: -$close-button-size/2
    right: -$close-button-size/2
    z-index: 100
    width: $close-button-size
    height: $close-button-size
    background: $clr-grey
    border-radius: $round-radius
    box-shadow: $level-2
    cursor: pointer
    transition: $base-transition

    &:hover
      background: darken($clr-grey, $hover-intensity)
      box-shadow: $level-3

    @media #{$mb-dw}
      top: $close-button-size/6
      right: $close-button-size/6


  &__cross
    @include icon-size(strip-unit($close-button-size)/1.5, strip-unit($close-button-size)/1.5)

    transition: $base-transition

  &__content
    @media #{$mb-dw}
      height: calc(100% - 70px)
      max-height: initial


  &__fields
    padding: $gutter-width * 3 $gutter-width * 3 $gutter-width !important
    overflow: hidden !important

    @media #{$xs-dw}
      padding: $gutter-width / 1.5 !important

  &__footer
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 $gutter-width * 3 $gutter-width * 3
    border-bottom-left-radius: $big-radius !important
    border-bottom-right-radius: $big-radius !important

    @media #{$mb-dw}
      position: absolute
      width: 100%
      bottom: 0
      left: 0
      padding: $gutter-width / 1.5 !important


  &__confirmation
    position: relative
    display: flex


  &__tip
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 20px
    top: -20px
    text-align: center
    font-size: 12px