.page
  display: flex
  color: $clr-white
  background: $clr-black
  height: 100vh

  &-enter-active,
  &-leave-active
    transition: $slow-transition

  &-enter,
  &-leave-active
    opacity: $transparent-opacity

  @media #{$mb-dw}
    flex-direction: column