.plate
  margin-bottom: $gutter-width * 2

  &:hover
    .plate__icon
      opacity: $active-opacity

  @media #{$md-dw}
    margin-bottom: $gutter-width

  
  &__title
    display: flex
    align-items: center
    padding: 0 $gutter-width / 2
    white-space: nowrap

    @media #{$xs-dw}
      margin-bottom: $gutter-width / 2


  &__icon
    @include icon-size(24, 24)

    margin-right: $gutter-width / 3
    fill: $clr-white
    opacity: $half-opacity
    transition: $base-transition


  &__inner
    @include glass();
    
    width: 100%
    padding: $gutter-width
    border-radius: $big-radius
    background: rgba($clr-white, $tiny-opacity);
    box-shadow: $level-3

  &__list
    flex-direction: column
    padding: 0
    margin-bottom: $gutter-width

    @media #{$md-dw}
      margin-bottom: 0

    @media #{$xs-dw}
      margin-bottom: $gutter-width
  
  &__item
    display: flex
    align-items: center
    height: $ui-height
    padding: 0 $gutter-width / 2
    border-radius: $base-radius
    transition: $base-transition
    cursor: pointer

    &--total
      font-size: 120%
      font-weight: 700
      pointer-events: none

    &:hover,
    &--selected
      background: rgba($clr-white, $tiny-opacity)

  
  &__marker
    @include icon-size(12, 12)

    margin-left: 3px
    margin-right: 13px
    border-radius: $round-radius
    box-shadow: $level-1
    transition: $base-transition

    &--games
      background: $clr-games
      
    &--tvshows
      background: $clr-tvshows

    &--films
      background: $clr-films

    &--anime
      background: $clr-anime

    &--books
      background: $clr-books

  
  &__name
    font-weight: 700
    line-height: 1

  
  &__hours
    margin-left: auto


  &__chart
    position: relative
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 100%
    height: 200px
    margin-bottom: $gutter-width / 3
    padding: 0 $gutter-width / 2


  &__bar
    position: relative
    z-index: 1
    display: flex
    justify-content: center
    align-items: flex-end
    width: $ui-height
    height: 100%
    border-top-left-radius: $base-radius
    border-top-right-radius: $base-radius
    background: rgba($clr-white, $tiny-opacity)
    transition: $fast-transition
    cursor: pointer

    &:hover,
    &--selected
      .plate
        &__series
          box-shadow: $level-2

          &--games
            background: $clr-games
            
          &--tvshows
            background: $clr-tvshows

          &--films
            background: $clr-films

          &--anime
            background: $clr-anime

          &--books
            background: $clr-books

        &__percent
          opacity: $active-opacity


  &__series
    width: 100%
    max-height: 0%
    border-top-left-radius: $base-radius
    border-top-right-radius: $base-radius
    transition: max-height 0.7s ease-in-out, box-shadow .3s ease, background .3s ease

    &--animated
      max-height: 100%

    &--games
      background: $clr-games
      
    &--tvshows
      background: $clr-tvshows

    &--films
      background: $clr-films

    &--anime
      background: $clr-anime

    &--books
      background: $clr-books


  &__percent
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    right: 0
    bottom: -$gutter-width
    left: 0
    width: 100%
    height: $gutter-width
    margin: auto
    font-size: 10px
    line-height: 1
    opacity: $half-opacity
    transition: $base-transition