.placeholder
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 50vh
  user-select: none
  opacity: $half-opacity


  &__title
    margin-bottom: $gutter-width

    @media #{$sm-dw}
      margin-bottom: $gutter-width/2


  &__icon
    @include icon-size(48, 48)

    fill: $clr-white

    @media #{$sm-dw}
      @include icon-size(32, 32)