.search
  margin-bottom: $gutter-width * 2
  padding: 0 $gutter-width/2

  &:hover
    .input
      &__icon
        fill: $clr-white
        opacity: $active-opacity

  @media #{$mb-dw}
    margin-bottom: $gutter-width * 1.5

  &--active
    .input
      &__field
        background: $clr-white !important
        box-shadow: $level-3

      &__icon
        fill: $clr-black !important
        opacity: $active-opacity


  .input
    &__field
      padding-left: $gutter-width/3 * 2 + 24px
      background: rgba($clr-white, $tiny-opacity)
      color: $clr-black

      &:focus
        background: rgba($clr-white, $active-opacity)
        box-shadow: $level-3


    &__icon
      fill: $clr-white