.section
  width: 100%
  max-width: 1200px
  margin: 0 auto
  padding: 0 $gutter-width

  @media #{$sm-dw}
    padding: 0 $gutter-width/2

  @media #{$mb-dw}
    padding: 0


  &__content
    transition: $base-transition
    
    &--blured
      @include blur