$close-button-size: 36px
  
@mixin themed-colors($category-color)
  .settings
    &__close
      background: $category-color

      &:hover
        background: lighten($category-color, $hover-intensity)
  
.settings
  @extend .bg-white
  @extend .clr-black
  @extend .base-radius
  @extend .shadow-3

  height: fit-content
  z-index: 15

  &-reveal-enter,
  &-reveal-leave-active
    opacity: $transparent-opacity
    transform: scale(0.95)

  &-reveal-enter-active,
  &-reveal-leave-active
    @extend .base-transition

  &--inside
    @extend .pos-absolute

    top: $gutter-width * 2
    right: $gutter-width
    width: calc(100% - #{$gutter-width * 2})
    transform-origin: top right

    @media #{$mb-dw}
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto

  &--outside
    @extend .pos-fixed

    bottom: $gutter-width
    left: $sidebar-collapsed-width + $gutter-width / 2
    width: 320px
    transform-origin: bottom left

  &--dashboard
    @include themed-colors($clr-dashboard)

  &--games
    @include themed-colors($clr-games)

  &--tvshows
    @include themed-colors($clr-tvshows)

  &--films
    @include themed-colors($clr-films)

  &--anime
    @include themed-colors($clr-anime)

  &--books
    @include themed-colors($clr-books)

  &__close
    @extend .cursor-pointer
    @extend .base-transition
    @extend .round-radius
    @extend .flex-center
    @extend .shadow-1

    position: absolute !important
    width: $close-button-size
    height: $close-button-size
    top: -$close-button-size/2
    right: -$close-button-size/2
    z-index: 100

    &:hover
      box-shadow: $shadow-3

  &__cross
    @include icon-size(strip-unit($close-button-size)/1.5, strip-unit($close-button-size)/1.5)
    @extend .base-transition

    fill: $clr-white

  &__content
    padding: $gutter-width/2 $gutter-width/1.5

  &__footer
    @extend .flex
    @extend .justify-between
    @extend .align-center
    @extend .bg-grey

    padding: $gutter-width/2 $gutter-width/1.5
    border-top: 1px solid rgba($clr-black, $tiny-opacity)
    border-bottom-left-radius: $base-radius !important
    border-bottom-right-radius: $base-radius !important