$icons-size: 24px
  

@mixin themed-colors($category-color)
  background: -moz-linear-gradient(top, rgba($category-color, $half-opacity) 0%, rgba($category-color, $light-opacity) 100%)
  background: -webkit-linear-gradient(top, rgba($category-color, $half-opacity) 0%,rgba($category-color, $light-opacity) 100%)
  background: linear-gradient(to bottom, rgba($category-color, $half-opacity) 0%,rgba($category-color, $light-opacity) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 )

@mixin collapsed-sidebar()
  .sidebar
    &__profile
      position: absolute
      right: 0
      bottom: $gutter-width * 2
      left: 0
      margin: auto
    

    &__avatar
      width: $gutter-width * 1.5
      height: $gutter-width * 1.5

      &:before
        @include svg-icon(strip-unit($gutter-width * 1.5), strip-unit($gutter-width * 1.5), 'avatar')


    &__settings
      top: initial
      bottom: $gutter-width


    &__username,
    &__name,
    &__badge
      display: none


    &__menu
      margin-top: $gutter-width * 3

      @media #{$mb-dw}
        margin-top: 0


    &__link
      display: flex-center


    &__icon
      margin: 0
  

.sidebar
  display: flex-column
  box-shadow: $shadow-5
  transition: $base-transition
  position: relative
  z-index: 3
  order: 1
  width: 25%
  height: 100%
  min-width: 320px
  max-width: $sidebar-width
  padding: $gutter-width * 2 $gutter-width
  
  &--notransition
    transition: $no-transition

  &--opened
    background: rgba($clr-black, $barely-opacity) !important

  &--collapsed
    @include collapsed-sidebar()
    width: $sidebar-collapsed-width
    min-width: $sidebar-collapsed-width
    padding: $gutter-width * 2 0
    background: rgba($clr-black, $light-opacity)

  &--blured
    font-size: 11px-opacity
    @include blur

    @media #{$xs-dw}
      display: none

  @media #{$lg-up}
    background: rgba($clr-black, $small-opacity)

  @media #{$lg-dw}
    position: fixed
    top: 0
    left: 0

  @media #{$sm-dw}
    background: rgba($clr-black, $half-opacity)

  @media #{$mb-dw}
    position: sticky
    width: 100% !important
    height: $sidebar-mobile-height !important
    max-height: $sidebar-mobile-height !important
    top: initial
    left: 0
    bottom: 0
    min-width: initial
    max-width: initial
    order: 3
    padding: 0 !important
    background: $clr-black


  &__gradient
    position: absolute
    transition: $slow-transition
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: -1
    opacity: $transparent-opacity

    &--active
      opacity: $half-opacity

    &--dashboard
      @include themed-colors($clr-dashboard)

    &--games
      @include themed-colors($clr-games)

    &--tvshows
      @include themed-colors($clr-tvshows)

    &--films
      @include themed-colors($clr-films)

    &--anime
      @include themed-colors($clr-anime)

    &--books
      @include themed-colors($clr-books)


  &__hamburger
    position: absolute
    top: $gutter-width * 2
    left: $gutter-width
    z-index: 10


  &__profile
    position: relative
    display: flex-column
    align-items: center
    margin-bottom: $gutter-width * 2

  
  &__avatar
    position: relative
    border-radius: $round-radius
    box-shadow: $shadow-1
    width: 120px
    height: 120px
    margin-bottom: $gutter-width/2
    background-color: rgba($clr-white, $light-opacity)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

    &:before
      @include pseudoelem
      opacity: $half-opacity
      @include svg-icon(120, 120, 'avatar')
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      margin: auto


  &__username
    @extend .fz4
    min-height: 26px


  &__menu
    @media #{$mb-dw}
      display: flex
      justify-content: space-between
      align-items: center
      height: 100%
      padding: 0 $gutter-width


  &__link
    position: relative
    display: flex
    align-items: center
    height: 36px
    z-index: 2
    color: rgba($clr-white, $half-opacity)

    &:hover
      color: rgba($clr-white, $passive-opacity)

    &:first-child
      margin-bottom: $gutter-width/2

    @media #{$mb-dw}
      margin-bottom: 0 !important
      margin-right: $gutter-width/3
      margin-left: $gutter-width/3

    &--active
      color: $clr-white !important

      .sidebar
        &__bookmark
          &--passive
            opacity: $transparent-opacity

          &--active
            opacity: $active-opacity


  &__icon
    position: relative
    @include icon-size(strip-unit($icons-size), strip-unit($icons-size))
    margin-right: $gutter-width/3


  &__bookmark
    position: absolute
    transition: $base-transition
    fill: $clr-white
    @include icon-size(strip-unit($icons-size), strip-unit($icons-size))
    top: 0
    left: 0

    &--passive
      opacity: $active-opacity

    &--active
      opacity: $transparent-opacity


  &__name
    font-weight: 700
    text-shadow: 1px 1px 2px $clr-black
    white-space: nowrap
    line-height: 1

  
  &__badge
    margin-left: auto


  &__settings
    position: absolute
    fill: $clr-white
    cursor: pointer
    @include icon-size(strip-unit($icons-size), strip-unit($icons-size))
    top: $gutter-width * 2
    right: $gutter-width
    z-index: 10
    opacity: $passive-opacity
    transition: opacity 0.3s ease

    &:hover
      opacity: $active-opacity