$icons-size: 24px

@mixin themed-colors($category-color)
  background: linear-gradient(to bottom, darken($category-color, 10%) 0%, darken($category-color, 20%) 100%)

@mixin collapsed-sidebar()
  .sidebar
    &__profile
      position: absolute
      right: 0
      bottom: 0
      left: 0
      margin: auto
    

    &__avatar
      width: $gutter-width * 1.5
      height: $gutter-width * 1.5

      &:before
        @include svg-icon(strip-unit($gutter-width * 1.5), strip-unit($gutter-width * 1.5), 'avatar')

    &__social,
    &__desc
      display: none


    &__settings
      top: initial
      bottom: $gutter-width


    &__username,
    &__name,
    &__badge
      display: none


    &__menu
      margin-top: $gutter-width * 3

      @media #{$mb-dw}
        margin-top: 0


    &__link
      display: flex
      justify-content: center
      align-items: center


    &__icon
      margin: 0
  

.sidebar
  position: fixed
  left: 0
  top: 0
  display: flex
  flex-direction: column
  order: 1
  padding: $gutter-width * 3 $gutter-width $gutter-width / 1.5
  z-index: 3
  width: 25%
  max-width: $sidebar-width
  height: 100vh
  min-width: 320px
  transition: $base-transition
  
  &--notransition
    transition: $no-transition

  &--opened
    background: rgba($clr-dark, $barely-opacity) !important

  &--collapsed
    @include collapsed-sidebar

    width: $sidebar-collapsed-width
    min-width: $sidebar-collapsed-width
    padding: $gutter-width * 2 0
    background: rgba($clr-dark, $small-opacity)

  &--blured
    @include blur()

    @media #{$mb-dw}
      display: none

  @media #{$lg-up}
    background: rgba($clr-white, $tiny-opacity / 2)

  @media #{$lg-dw}
    position: fixed
    top: 0
    left: 0

  @media #{$sm-dw}
    background: rgba($clr-dark, $small-opacity)

  @media #{$mb-dw}
    position: sticky
    top: initial
    bottom: 0
    left: 0
    width: 100% !important
    height: $sidebar-mobile-height !important
    min-width: initial
    max-width: initial
    max-height: $sidebar-mobile-height !important
    order: 3
    padding: 0 !important
    background: rgba($clr-dark, $half-opacity)


  &__gradient
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    opacity: $transparent-opacity
    transition: $slow-transition

    &--active
      opacity: $tiny-opacity

    &--dashboard
      @include themed-colors($clr-dashboard)

    &--games
      @include themed-colors($clr-games)

    &--tvshows
      @include themed-colors($clr-tvshows)

    &--films
      @include themed-colors($clr-films)

    &--anime
      @include themed-colors($clr-anime)

    &--books
      @include themed-colors($clr-books)


  &__hamburger
    position: absolute
    top: $gutter-width * 2
    left: $gutter-width
    z-index: 10


  &__profile
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: $gutter-width * 3
    border-radius: $big-radius

  
  &__avatar
    position: relative
    width: 100px
    height: 100px
    margin-bottom: $gutter-width / 1.5
    border-radius: $base-radius
    box-shadow: 0 19px 38px rgba(#701b7e,0.19), 0 15px 12px rgba(#701b7e,0.23)
    background-color: rgba($clr-white, $light-opacity)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

    &:before
      @include pseudoelem
      @include svg-icon(100, 100, 'avatar')
      
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      margin: auto
      opacity: $half-opacity


  &__title
    font-weight: 400
    margin-bottom: $gutter-width / 4
    color: rgba($clr-white, $passive-opacity)

    span
      color: rgba($clr-white, $active-opacity)
      font-weight: 600
  
  &__desc
    margin-bottom: 0
    color: rgba($clr-white, $half-opacity)

  &__separator
    width: 100%
    height: 1px
    background: rgba($clr-grey, $tiny-opacity)
    margin-top: auto

  &__social
    display: flex
    align-items: center
    margin-top: $gutter-width / 1.5

  &__soclink
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin-right: $gutter-width / 2
    opacity: $small-opacity
    transition: $base-transition

    &:hover
      opacity: $active-opacity


  &__socicon
    @include icon-size(strip-unit($icons-size), strip-unit($icons-size))
    fill: $clr-white


  &__menu
    @media #{$mb-dw}
      display: flex
      justify-content: space-between
      align-items: center
      height: 100%
      padding: 0 $gutter-width


  &__link
    position: relative
    display: flex
    align-items: center
    z-index: 2
    height: $ui-height
    color: rgba($clr-white, $half-opacity)    

    &:first-child
      margin-bottom: $gutter-width/2

    &:hover
      color: rgba($clr-white, $barely-opacity)

      .sidebar
        &__bookmark
          &--passive
            opacity: $active-opacity

    @media #{$mb-dw}
      margin-bottom: 0 !important
      margin-right: $gutter-width/3
      margin-left: $gutter-width/3

    &--active
      color: $clr-white !important

      .sidebar
        &__bookmark
          &--passive
            opacity: $transparent-opacity !important

          &--active
            opacity: $active-opacity


  &__icon
    @include icon-size(strip-unit($icons-size), strip-unit($icons-size))
    margin-right: $gutter-width/3

    position: relative


  &__bookmark
    @include icon-size(strip-unit($icons-size), strip-unit($icons-size))

    position: absolute
    top: 0
    left: 0
    fill: $clr-white
    transition: $base-transition

    &--passive
      opacity: $half-opacity

    &--active
      opacity: $transparent-opacity


  &__name
    font-weight: 500
    white-space: nowrap
    line-height: 1

  
  &__badge
    margin-left: auto
