.slot
  @extend .pos-relative
  @extend .cursor-pointer
  @extend .base-transition
  @extend .no-overflow
  @extend .flex
  @extend .flex-wrap
  @extend .align-center
  @extend .base-radius
  @extend .no-select

  padding: 0 $gutter-width/2

  @media #{$sm-dw}
    padding: $gutter-width/4 $gutter-width/2

  &:not(:last-child)
    &::before
      @extend .pseudoelem
      @extend .half-opacity

      background: -moz-linear-gradient(left, rgba($clr-white, $light-opacity) 0%, rgba($clr-white, $tiny-opacity) 100%)
      background: -webkit-linear-gradient(left, rgba($clr-white, $light-opacity) 0%,rgba($clr-white, $tiny-opacity) 100%)
      background: linear-gradient(to right, rgba($clr-white, $light-opacity) 0%,rgba($clr-white, $tiny-opacity) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=1)
      width: 100%
      height: 1px
      bottom: 0
      left: 0

      @media #{$sm-up}
        display: none

  &::after
    @extend .pseudoelem
    @extend .tiny-opacity
    @extend .bg-white

    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    opacity: $transparent-opacity

  &--refreshed
    &::after
      @include animation(shine, 1s, 0s, 1, ease, normal)

  &:hover
    background: rgba($clr-white, $tiny-opacity)

    .slot
      &__link
        opacity: $half-opacity

  &__header,
  &__bottom
    @extend .pos-relative
    @extend .flex
    @extend .align-center

    width: 100%
    height: 40px

  &__index
    @extend .small
    @extend .half-opacity

    min-width: $gutter-width/1.5

  &__title
    @extend .flex
    @extend .align-center
    @extend .weight-bold

    span
      @include truncate(320)

  &__hours
    @extend .pos-relative
    @extend .flex
    @extend .align-center

    margin-left: auto
    
    span
      line-height: 1

  &__clock
    @extend .pos-relative
    @extend .fill-white
    @extend .passive-opacity
    @include icon-size(16,16)

    top: -1px
    margin-left: 4px

  &__cell
    @extend .pos-relative
    @extend .flex
    @extend .align-center

    height: 40px
    padding: 0

    span
      @include truncate(320)

      line-height: 1

    &:first-child
      @extend .small
      @extend .half-opacity

  &__link
    @extend .pos-relative
    @extend .flex-center
    @include icon-size(18, 18)

    margin-left: $gutter-width/3
    opacity: $transparent-opacity

    &::before
      @extend .pseudoelem

      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 10

    &:hover
      opacity: $active-opacity !important

    @media #{$sm-dw}
      opacity: $half-opacity

  &__rating
    @extend .pos-relative

    width: $star-size * 5
    height: $star-size

    @media #{$sm-dw}
      left: -3px
      margin-right: $gutter-width/1.5

  &__star
    @extend .pos-absolute
    @include icon-size(strip-unit($star-size), strip-unit($star-size))

    &--1
      left: 0

    &--2
      left: $star-size

    &--3
      left: $star-size * 2

    &--4
      left: $star-size * 3

    &--5
      left: $star-size * 4

    &--passive
      @extend .light-opacity

  &__platform
    @include icon-size(24,24)
    @extend .fill-white

    margin-left: auto

  &__icon
    @include icon-size(24, 24)
    @extend .base-transition
    @extend .cursor-pointer

    opacity: $light-opacity

    &:hover
      opacity: $active-opacity

  &__tilda
    @extend .pos-absolute
    @include icon-size(12, 12)

    top: -2px
    bottom: 0
    left: -14px
    margin: auto
    opacity: $half-opacity

  &__favourite,
  &__status
    @include icon-size(18, 18)
    @extend .fill-white

  &__redirect
    @include icon-size(18, 18)
    @extend .base-transition

  &__control
    @include icon-size(18,18)
    @extend .cursor-pointer
    @extend .base-transition

    margin-left: auto
    opacity: $half-opacity

    &:hover
      opacity: $active-opacity


@keyframes shine
  0%
    opacity: $transparent-opacity

  50%
    opacity: $tiny-opacity

  100%
    opacity: $transparent-opacity