$star-size: 20px
  

.slot
  position: relative
  display: flex
  align-items: center
  flex-wrap: wrap
  padding: 0 $gutter-width/2
  overflow: hidden
  border-radius: $base-radius
  user-select: none
  transition: $base-transition

  &--refreshed
    &::after
      @include animation(shine, 1s, 0s, 1, ease, normal)

  &::after
    @include pseudoelem
    
    opacity: $light-opacity
    background: $clr-black
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    opacity: $transparent-opacity

  &:hover
    @include glass();
    
    background: rgba($clr-white, $tiny-opacity)

    .slot
      &__link
        opacity: $half-opacity

  @media #{$sm-dw}
    flex-direction: column
    margin-bottom: $gutter-width/4
    padding: $gutter-width/3 $gutter-width/2
    background: rgba($clr-white, $tiny-opacity)


  &__header,
  &__middle,
  &__bottom
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 35px


  &__index
    min-width: $gutter-width/1.5
    opacity: $half-opacity
    font-size: 12px
    line-height: 1

    @media #{$md-dw}
      margin-right: 5px


  &__title
    display: flex
    align-items: center
    font-weight: 700
    line-height: 1

    span
      @include truncate(320)

      @media #{$sm-dw}
        @include truncate(240)

      @media #{$mb-dw}
        @include truncate(180)


  &__hours
    position: relative
    display: flex
    align-items: center
    margin-left: auto
    
    span
      line-height: 1


  &__clock
    @include icon-size(16,16)

    position: relative
    top: -1px
    margin-left: 4px
    fill: $clr-white
    opacity: $passive-opacity
    

  &__cell
    position: relative
    display: flex
    align-items: center
    height: $ui-height
    padding: 0

    &:first-child
      opacity: $half-opacity
      font-size: 12px

    span
      @include truncate(320)

      @media #{$sm-dw}
        @include truncate(240)

      @media #{$mb-dw}
        @include truncate(180)


  &__link
    @include icon-size(18,18)

    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin-left: $gutter-width/3
    opacity: $transparent-opacity

    &::before
      @include pseudoelem

      top: 0
      left: 0
      z-index: 10
      width: 100%
      height: 100%

    &:hover
      opacity: $active-opacity !important

    @media #{$sm-dw}
      opacity: $half-opacity


  &__rating
    position: relative
    width: $star-size * 5
    height: $star-size

    @media #{$sm-dw}
      left: -3px
      margin-right: $gutter-width/1.5


  &__star
    @include icon-size(strip-unit($star-size), strip-unit($star-size))

    position: absolute

    &--1
      left: 0

    &--2
      left: $star-size

    &--3
      left: $star-size * 2

    &--4
      left: $star-size * 3

    &--5
      left: $star-size * 4

    &--passive
      opacity: $small-opacity


  &__platform
    @include icon-size(24,24)

    margin-left: auto
    fill: $clr-white


  &__icon
    @include icon-size(24, 24)

    opacity: $light-opacity
    cursor: pointer
    transition: $base-transition

    &:hover
      opacity: $active-opacity


  &__tilda
    @include icon-size(12,12)

    position: absolute
    top: -2px
    bottom: 0
    left: -14px
    margin: auto
    opacity: $half-opacity


  &__favourite,
  &__status
    @include icon-size(18, 18)

    fill: $clr-white


  &__redirect
    @include icon-size(18, 18)

    transition: $base-transition


  &__control
    @include icon-size(18,18)

    margin-left: auto
    opacity: $half-opacity
    cursor: pointer
    transition: $base-transition

    &:hover
      opacity: $active-opacity


@keyframes shine
  0%
    opacity: $transparent-opacity

  50%
    opacity: $tiny-opacity

  100%
    opacity: $transparent-opacity