$star-size: 24px


.table
  margin-bottom: $gutter-width * 2
  overflow: hidden
  transition: $base-transition

  &--hidden
    max-height: 0px !important
    opacity: $transparent-opacity

  &--notransition
    transition: $no-transition

  @media #{$xs-dw}
    margin-bottom: $gutter-width/1.5


  &__header
    display: flex
    align-items: center
    padding: 0 $gutter-width
    user-select: none

    
    .slot
      &__cell
        font-weight: 400
        text-transform: uppercase
        font-size: 12px
        font-family: 'Open-Sans', sans-serif
        white-space: nowrap
        color: rgba($clr-white, $half-opacity)

        &:hover
          .table
            &__chevron
              opacity: $active-opacity

        &--functional
          cursor: pointer
          transition: $base-transition

          &:hover
            color: $clr-white

            .table
              &__chevron
                opacity: $active-opacity

        &--active
          color: $clr-white

          .table
            &__chevron
              opacity: $half-opacity


  &__body
    padding: 0 $gutter-width/2


  &__chevron
    @include icon-size(18, 18)

    fill: $clr-white
    transition: $base-transition

    &--ascending
      transform: rotate(0deg)

    &--descending
      transform: rotate(180deg)