$star-size: 24px
  
.table
  @extend .base-transition
  @extend .no-overflow

  margin-bottom: $gutter-width * 2

  &--hidden
    max-height: 0px !important
    opacity: $transparent-opacity

  &--notransition
    @extend .no-transition

  &__header,
  &__item
    @extend .flex
    @extend .align-center
    @extend .base-radius
    @extend .no-select

    padding: 0 $gutter-width/2

  &__header
    @extend .no-select

    padding: 0 $gutter-width
    
    .table
      &__cell
        @extend .weight-regular
        @extend .txt-uppercase
        @extend .small
        @extend .font-sans

        color: rgba($clr-white, $half-opacity)

        &:hover
          .table
            &__chevron
              opacity: $active-opacity

        &--functional
          @extend .cursor-pointer
          @extend .base-transition

          &:hover
            color: $clr-white

            .table
              &__chevron
                opacity: $active-opacity

        &--active
          color: $clr-white

          .table
            &__chevron
              opacity: $half-opacity

  &__body
    padding: 0 $gutter-width/2

  &__item
    @extend .pos-relative
    @extend .cursor-pointer
    @extend .base-transition
    @extend .no-overflow

    &::after
      @extend .pseudoelem
      @extend .tiny-opacity
      @extend .bg-white

      top: 0
      left: 0
      z-index: -1
      width: 100%
      height: 100%
      opacity: $transparent-opacity

    &--refreshed
      &::after
        @include animation(shine, 1s, 0s, 1, ease, normal)

    &:hover
      background: rgba($clr-white, $tiny-opacity)

      .table
        &__link
          opacity: $half-opacity

  &__chevron
    @extend .base-transition
    @include icon-size(18, 18)

    &--ascending
      transform: rotate(0deg)

    &--descending
      transform: rotate(180deg)

  &__cell
    @extend .pos-relative
    @extend .flex
    @extend .align-center

    height: 40px
    padding: 0

    span
      line-height: 1

    &:first-child
      color: rgba($clr-white, $half-opacity)

  &__rating
    @extend .pos-relative

    width: $star-size * 5
    height: $star-size

  &__star
    @extend .pos-absolute
    @include icon-size(strip-unit($star-size), strip-unit($star-size))

    &--1
      left: 0

    &--2
      left: $star-size

    &--3
      left: $star-size * 2

    &--4
      left: $star-size * 3

    &--5
      left: $star-size * 4

    &--passive
      @extend .light-opacity

  &__platform
    @include icon-size(24,24)
    @extend .fill-white

  &__icon
    @include icon-size(24, 24)
    @extend .base-transition
    @extend .cursor-pointer

    opacity: $light-opacity

    &:hover
      opacity: $active-opacity

  &__tilda
    @extend .pos-absolute
    @include icon-size(16, 16)

    top: -2px
    bottom: 0
    left: -16px
    margin: auto
    opacity: $half-opacity

  &__favourite,
  &__status
    @include icon-size(18, 18)
    @extend .fill-white

  &__link
    @extend .pos-relative
    @extend .flex-center
    @include icon-size(18, 18)

    margin-left: $gutter-width/3
    opacity: $transparent-opacity

    &::before
      @extend .pseudoelem

      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 10

    &:hover
      opacity: $active-opacity !important

  &__redirect
    @include icon-size(18, 18)
    @extend .base-transition

  &__control
    @include icon-size(18,18)
    @extend .cursor-pointer
    @extend .base-transition

    margin-left: auto
    opacity: $half-opacity

    &:hover
      opacity: $active-opacity


@keyframes shine
  0%
    opacity: $transparent-opacity

  50%
    opacity: $tiny-opacity

  100%
    opacity: $transparent-opacity