.title
  @extend .flex
  @extend .align-center
  @extend .no-wrap

  &--main
    margin-bottom: $gutter-width
    padding: 0 $gutter-width/2.5

  &--secondary
    @extend .cursor-pointer
    @extend .base-transition
    @extend .base-radius
    @extend .no-select

    margin-bottom: $gutter-width/1.5
    padding: 0 $gutter-width

    @media #{$mb-dw}
      padding: 0 $gutter-width/2

    &:hover
      .title
        &__icon,
        &__chevron
          opacity: $active-opacity

  &--inactive
    @extend .cursor-default

    &::before
      @include icon-size(24, 24)

      content: ''
      margin-right: $gutter-width/4

  &__name
    @extend .no-mg
    @extend .txt-shadow

    line-height: 1

  &__icon
    @extend .pos-relative
    @extend .fill-white
    @extend .base-transition
    @include icon-size(24,24) 

    opacity: $half-opacity
    left: -$gutter-width/4
    margin-right: $gutter-width/3

  &__badge
    margin-left: $gutter-width/2

    @media #{$mb-dw}
      margin-left: $gutter-width/4

  &__chevron
    @extend .pos-relative
    @extend .base-transition
    @extend .round-radius
    @extend .fill-white
    @include icon-size(32, 32)

    margin-left: auto
    opacity: $half-opacity

    &--closed
      transform: rotate(-90deg)

    &--notransition
      @extend .no-transition

    @media #{$mb-dw}
      @include icon-size(24, 24)

  &__button
    margin-left: auto

    @media #{$mb-dw}
      position: fixed !important
      bottom: $sidebar-mobile-height + $gutter-width/2
      right: $gutter-width/2
      z-index: 9
      box-shadow: $shadow-3
      margin: 0