.title
  display: flex
  align-items: center
  white-space: nowrap

  &--main
    margin-bottom: $gutter-width
    padding: 0 $gutter-width/2.5

  &--secondary
    margin-bottom: $gutter-width/1.5
    padding: 0 $gutter-width
    border-radius: $base-radius
    cursor: pointer
    user-select: none
    transition: $base-transition

    &:hover
      .title
        &__icon,
        &__chevron
          opacity: $active-opacity

    @media #{$mb-dw}
      padding: 0 $gutter-width/2

  &--inactive
    cursor: default

    &::before
      @include icon-size(24, 24)

      content: ''
      left: -$gutter-width/2


  &__name
    margin-bottom: 0
    text-shadow: 1px 1px 2px $clr-black
    line-height: 1


  &__icon
    @include icon-size(24,24)

    position: relative
    left: -$gutter-width/2
    fill: $clr-white
    opacity: $half-opacity
    transition: $base-transition


  &__badge
    margin-left: $gutter-width/2

    @media #{$mb-dw}
      margin-left: $gutter-width/4


  &__chevron
    @include icon-size(32,32)

    position: relative
    margin-left: auto
    border-radius: $round-radius
    fill: $clr-white
    opacity: $half-opacity
    transition: $base-transition

    &--closed
      transform: rotate(-90deg)

    &--notransition
      transition: $no-transition

    @media #{$mb-up}
      right: -$gutter-width/2

    @media #{$mb-dw}
      @include icon-size(24, 24)


  &__button
    margin-left: auto

    @media #{$mb-dw}
      position: fixed !important
      bottom: $sidebar-mobile-height + $gutter-width/2
      right: $gutter-width/2
      z-index: 9
      margin: 0
      box-shadow: $shadow-3