.badge
  @extend .pos-relative
  @extend .inline-flex
  @extend .align-center
  @extend .clr-white
  @extend .font-sans
  @extend .weight-medium

  line-height: 1
  background: rgba($clr-white, 0.05)

  &--small
    @extend .small
    
    border-radius: 10px
    height: 20px
    padding: 0 10px

  &--medium
    font-size: 14px
    border-radius: 14px
    height: 28px
    padding: 0 14px
    top: -2px