.button
  @extend .inline-flex
  @extend .align-center
  @extend .txt-uppercase
  @extend .weight-bold
  @extend .slow-transition
  @extend .cursor-pointer
  @extend .base-radius
  @extend .no-select

  height: 40px
  padding: 0 $gutter-width/2

  &:hover
    box-shadow: $shadow-3

  &--iconed
    @extend .justify-center

    width: 40px
    padding: 0

    .button
      &__icon
        margin-right: 0
        top: 0

  &__icon
    @extend .pos-relative
    @extend .slow-transition
    @include icon-size(24, 24)

    margin-right: $gutter-width/8
    top: -1px