.button
  @extend .inline-flex
  @extend .justify-center
  @extend .align-center
  @extend .txt-uppercase
  @extend .weight-bold
  @extend .slow-transition
  @extend .cursor-pointer
  @extend .base-radius
  @extend .no-select
  @extend .bg-white

  height: 40px
  background: $clr-grey
  padding: 0 $gutter-width/2

  &:hover
    background: $clr-white
    box-shadow: $shadow-2

  &--iconed
    @extend .justify-center

    width: 40px
    padding: 0

    .button
      &__icon
        margin-right: 0
        top: 0

  &__icon
    @extend .pos-relative
    @extend .slow-transition
    @include icon-size(24, 24)

    margin-right: $gutter-width/8
    top: -1px

  &--games
    .button
      &__text
        @extend .clr-games

      &__icon
        @extend .fill-games

  &--tvshows
    .button
      &__text
        @extend .clr-tvshows

      &__icon
        @extend .fill-tvshows

  &--films
    .button
      &__text
        @extend .clr-films

      &__icon
        @extend .fill-films

  &--anime
    .button
      &__text
        @extend .clr-anime

      &__icon
        @extend .fill-anime

  &--books
    .button
      &__text
        @extend .clr-books

      &__icon
        @extend .fill-books