.input
  @extend .pos-relative

  margin-bottom: $gutter-width/2

  &__icon
    @include icon-size(24,24)
    @extend .pos-absolute
    @extend .base-transition

    left: $gutter-width/3
    top: 0
    bottom: 0
    margin: auto
    opacity: $half-opacity

  &__field
    @extend .base-radius
    @extend .base-transition

    width: 100%
    border: 0
    outline: 0
    height: 40px
    padding: 0 $gutter-width/2
    background: $clr-grey

    &--invalid
      box-shadow: inset 0px 0px 0px 1px $clr-error

    &[type=number] 
      -moz-appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

    &::placeholder 
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &::-webkit-input-placeholder 
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &::-moz-placeholder 
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &:-ms-input-placeholder 
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important

    &:-moz-placeholder 
      opacity: $active-opacity !important
      color: rgba($clr-white, $half-opacity) !important
      transition: all 0.15s ease !important
    
    &:focus 
      &::placeholder 
        opacity: $transparent-opacity !important

      &::-webkit-input-placeholder 
        opacity: $transparent-opacity !important
      
      &::-moz-placeholder 
        opacity: $transparent-opacity !important
      
      &:-ms-input-placeholder 
        opacity: $transparent-opacity !important
      
      &:-moz-placeholder 
        opacity: $transparent-opacity !important

  &__label
    @extend .small

    display: block
    margin-bottom: $gutter-width/3

    sup
      top: 0