$star-size: 40px
  
.rating
  @extend .pos-relative

  margin-bottom: $gutter-width/2

  &__label
    @extend .small

    display: block
    margin-bottom: $gutter-width/5

  &__body
    @extend .pos-relative

    width: $star-size * 5
    height: $star-size

  &__star
    @extend .pos-absolute
    @extend .cursor-pointer
    @extend .base-transition

    @include svg-icon(strip-unit($star-size), strip-unit($star-size), 'star-passive-b')

    &--excluded
      @include svg-icon(strip-unit($star-size), strip-unit($star-size), 'star-passive-b')

    &--included
      @include svg-icon(strip-unit($star-size), strip-unit($star-size), 'star-hovered-b')

    &--active
      @extend .passive-opacity
      @include svg-icon(strip-unit($star-size), strip-unit($star-size), 'star-active-b')

    &--1
      left: 0

    &--2
      left: $star-size

    &--3
      left: $star-size * 2

    &--4
      left: $star-size * 3

    &--5
      left: $star-size * 4