.table
  margin-bottom: $gutter-width

  &__header,
  &__item
    @extend .flex
    @extend .align-center
    @extend .base-radius

    padding: 0 $gutter-width/2

  &__header
    .table
      &__cell
        @extend .weight-regular
        @extend .txt-uppercase
        @extend .small

        color: rgba($clr-white, 0.5)

        &--functional
          @extend .cursor-pointer
          @extend .base-transition

          &:hover
            color: $clr-white

            .table
              &__chevron
                opacity: 1

  &__item
    @extend .base-transition

    &:hover
      background: rgba($clr-white, 0.05)

  &__chevron
    @extend .pos-relative
    @extend .base-transition
    @include svg-icon(18, 18, 'chevron-down')

    top: -2px

    opacity: 0.5

  &__cell
    @extend .flex
    @extend .align-center

    height: 40px

    $i: 1
    @while $i <= 100
      $perc: unquote($i + "%")
      &--#{$i}
        width: $perc

      $i: $i + 1

    &:first-child
      color: rgba($clr-white, 0.5)

    &--right
      @extend .justify-end