.title
  @extend .flex
  @extend .align-center
  @extend .no-select

  &--main
    margin-bottom: $gutter-width
    padding: 0 $gutter-width/2

  &--secondary
    @extend .cursor-pointer
    @extend .base-transition
    @extend .base-radius

    margin-bottom: $gutter-width/2
    padding: 0 $gutter-width

    &:hover
      .title
        &__chevron
          opacity: $active-opacity

  &__name
    @extend .no-mg

    line-height: 1

  &__badge
    margin: 0 $gutter-width/2

  &__chevron
    @extend .pos-relative
    @include icon-size(24, 24)
    @extend .base-transition

    left: -$gutter-width/4
    margin-right: $gutter-width/4
    opacity: $half-opacity

  &__button
    margin-left: auto
    background: $clr-white

    &--games
      .button
        &__text
          @extend .clr-games

        &__icon
          @extend .fill-games

    &--tvshows
      .button
        &__text
          @extend .clr-tvshows

        &__icon
          @extend .fill-tvshows

    &--films
      .button
        &__text
          @extend .clr-films

        &__icon
          @extend .fill-films

    &--anime
      .button
        &__text
          @extend .clr-anime

        &__icon
          @extend .fill-anime

    &--books
      .button
        &__text
          @extend .clr-books

        &__icon
          @extend .fill-books

    &--hardware
      .button
        &__text
          @extend .clr-hardware

        &__icon
          @extend .fill-hardware