.title
  @extend .flex
  @extend .align-center
  @extend .cursor-pointer
  @extend .base-transition
  @extend .base-radius

  height: 60px
    
  &:hover
    background: rgba($clr-white, 0.05)

  padding: 0 $gutter-width/2
  margin-bottom: $gutter-width/2

  &__name
    @extend .no-mg

  &__badge
    margin: 0 $gutter-width/2

  &__chevron
    @include svg-icon(24, 24, 'chevron-down')

    margin-left: auto