.title
  @extend .flex
  @extend .align-center
  
  padding: $gutter-width/2
  margin-bottom: $gutter-width/2

  &--main


  &--secondary
    @extend .cursor-pointer
    @extend .base-transition
    @extend .base-radius

    &:hover
      background: rgba($clr-white, 0.05)

  &__name
    @extend .no-mg

    line-height: 1

  &__badge
    margin: 0 $gutter-width/2

  &__chevron
    @include icon-size(24, 24)

    margin-left: auto